<div id="post-total-msg-section" class="flex flex-col gap-4">
    <div hx-trigger="click" hx-get="/game-templates/{{ template.game_template_id }}/x/post-total-msg" hx-target="#post-total-msg-section" class="form-control w-full max-w-lg flex flex-row gap-2 cursor-pointer">
        <input type="checkbox" name="should-post-total" class="checkbox" />
        <label class="label py-0 cursor-pointer">
            <span class="label-text cursor-pointer">Send twitch chat on most correct guesses at the end?</span>
        </label>
    </div>
</div>
