{% extends "authed-base.html" %}

{% block content %}
    <h2 class="text-5xl my-2"><strong class="font-bold">{{ game.name }}</strong></h2>
    <h3 class="p-1"><span id="created_at"></span></h3>

    <p>This game is finished.</p>

    <div class="divider"></div>

    <div class="stats stats-vertical lg:stats-horizontal shadow my-2">
        <div class="stat">
            <div class="stat-title">Players</div>
            <div class="stat-value">{{ players_count }}</div>
        </div>

        <div class="stat">
            <div class="stat-title">Total Drops</div>
            <div class="stat-value">{{ drops_count }}</div>
        </div>

        <div class="stat">
            <div class="stat-title">Winner</div>
            {% if lead_points > 0 %}
                <div class="stat-value">{{ leaders }}</div>
                {% if let 1 = lead_points %}
                    <div class="stat-desc">With 1 point</div>
                {% else %}
                    <div class="stat-desc">With {{ lead_points }} points</div>
                {% endif %}
            {% else %}
                <div class="stat-value"></div>
            {% endif %}
        </div>
    </div>

    {% if let Some(msg) = game.reward_message %}
        <div class="collapse collapse-open my-2">
            <div class="collapse-title text-xl font-medium">
                Message sent for each correct guess:
            </div>
            <div class="collapse-content"> 
                <p><code>{{ msg }}</code></p>
            </div>
        </div>
    {% endif %}

    {% if let Some(msg) = game.total_reward_message %}
        <div class="collapse collapse-open my-2">
            <div class="collapse-title text-xl font-medium">
                Message sent for each winner:
            </div>
            <div class="collapse-content"> 
                <p><code>{{ msg }}</code></p>
            </div>
        </div>
    {% endif %}

    <div class="divider"></div>

    <div class="grid gap-4 xs:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for item in items %}
            <div id="card-{{ item.game_item_id }}" class="card bg-base-100 shadow-xl">
                <div class="card-body flex flex-col gap-4">
                    <h2 class="card-title">{{ item.name }}</h2>
                </div>

                {% if let Some(image) = item.image %}
                    <figure><img src="{{ img_base_uri }}/{{ image }}" class="min-w-[50%] min-h-[50%]" /></figure>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

