<h2 class="text-5xl my-2"><strong class="font-bold">{{ game.name }}</strong> by <em>{{ host.username }}</em></h2>
<h3 class="p-1"><span id="created_at"></span></h3>

<p>This game is finished.</p>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow">
    <div class="stat">
        <div class="stat-title">Total Drops</div>
        <div class="stat-value">{{ drops_count }}</div>
    </div>

    <div class="stat">
        <div class="stat-title">Your Points</div>
        <div class="stat-value">{{ player.points }}</div>
        {% if is_winner %}
            <div class="stat-desc">You won!</div>
        {% endif %}
    </div>
</div>

<div class="divider"></div>

<div class="grid gap-4 xs:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    {% for item in items %}
        <div id="card-{{ item.game_item_id }}" class="card bg-base-100 shadow-xl">
            <div class="card-body flex flex-col gap-4">
                <h2 class="card-title">{{ item.name }}</h2>
            </div>

            {% if let Some(image) = item.image %}
                <figure><img src="{{ img_base_uri }}/{{ image }}" class="min-w-[50%] min-h-[50%]" /></figure>
            {% endif %}
        </div>
    {% endfor %}
</div>