{% extends "authed-base.html" %}

{% block content %}
    <div hx-ext="sse" sse-connect="/games/{{ game.game_code }}/sse/host">
        <div id="game_board" hx-get="/games/{{ game.game_code }}/x/board" hx-trigger="sse:player_action throttle:1s">
            {% include "game-as-host-board.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" defer>
        // Created At
        document.getElementById("created_at").innerText = new Date({{ game.created_at * 1000 }}).toLocaleString();

        document.body.addEventListener("apply_created_at", function (evt) {
            document.getElementById("created_at").innerText = new Date({{ game.created_at * 1000 }}).toLocaleString();
        });

        // Copy share link
        let el = document.getElementById("copy_share_link");
        let txt = el.innerText;
        let timer = null;

        function copyShareLink() {
            navigator.clipboard.writeText("https://guessthedrop.com/join?code={{ game.game_code }}");

            if (timer) {
                clearTimeout(timer);
            }

            el.innerText = "Copied!";

            timer = setTimeout(() => {
                el.innerText = txt;
            }, 5000);
        }
    </script>
{% endblock %}

