<div id="lock_unlock" class="flex flex-col gap-4 py-4">
    {% if game.is_locked %}
        <div class="flex flex-row gap-2 items-center text-error">
            <button hx-put="/games/{{ game.game_code }}/x/unlock" hx-target="#game_board" class="btn btn-accent btn-outline btn-sm">Unlock</button>
            <div></div>
            <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><rect height="11" rx="2" ry="2" width="18" x="3" y="11"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
            <h2 class="text-xl">Guesses are locked in</h2>
        </div>
    {% else %}
        <div class="flex flex-row gap-2 items-center text-accent">
            <button hx-put="/games/{{ game.game_code }}/x/lock" hx-target="#game_board" class="btn btn-error btn-outline btn-sm">Lock</button>
            <div></div>
            <svg viewBox="0 0 24 24" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" width="24" xmlns="http://www.w3.org/2000/svg"><rect height="10" rx="2" ry="2" width="16" x="4" y="12"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
            <h2 class="text-xl">Guesses are open</h2>
        </div>
    {% endif %}
</div>

<div class="grid gap-4 xs:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 py-4">
    {% for item in items %}
        {% include "game-as-host-item.html" %}
    {% endfor %}
</div>

<div class="flex flex-col gap-4">
    <div class="flex flex-row justify-end gap-2">
        <button onclick="confirm_end_game.showModal()" class="btn btn-error">End Game!</button>

        <dialog id="confirm_end_game" class="modal">
            <div class="modal-box">
                <h3 class="font-bold text-lg">End Game?</h3>
                <p class="py-4">This will end the game for all players!</em></p>
                <div class="modal-action flex flex-row justify-end gap-2">
                    <form method="dialog">
                        <button class="btn btn-ghost">Cancel</button>
                    </form>

                    <form action="/games/{{ game.game_code }}/finish" method="POST">
                        <button class="btn btn-error">End Game!</button>
                    </form>
                </div>
            </div>

            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
</div>
