{% extends "authed-base.html" %}

{% block content %}
    <h2 class="text-5xl font-bold">Games</h2>

    <div class="divider"></div>

    <div class="grid gap-4 xs:grid-cols-1 {% if !games_hosted.is_empty() && !games_joined.is_empty() %} md:grid-cols-2 {% endif %}">
        {% if !games_hosted.is_empty() %}
            <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold pl-2">Hosted</h3>
                <table class="table border-2 border-base-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Status</th>
                            <th>Players</th>
                            <th>Winners</th>
                            <th>Winning Points</th>
                        </tr>
                    </thead>

                    {% for game in games_hosted %}
                        <tbody>
                            <tr>
                                <td>{{ game.name }}</td>
                                <td>{{ game.game_code }}</td>
                                <td>{{ game.status }}</td>
                                <td>{{ game.players_count.unwrap_or(0) }}</td>
                                <td>{{ game.winners_count.unwrap_or(0) }}</td>
                                <td>{{ game.winning_points.unwrap_or(0) }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}

                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}

        {% if !games_joined.is_empty() %}
            <div class="flex flex-col gap-2">
                <h3 class="text-xl font-bold pl-2">Joined</h3>
                <table class="table border-2 border-base-100">
                    <thead>
                        <tr>
                            <th>Did you win?</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Status</th>
                            <th>Players</th>
                            <th>Winners</th>
                            <th>Winning Points</th>
                        </tr>
                    </thead>

                    {% for game in games_joined %}
                        <tbody>
                            <tr>
                                <td>{{ game.is_winner.unwrap_or(false) }}</td>
                                <td>{{ game.name }}</td>
                                <td>{{ game.game_code }}</td>
                                <td>{{ game.status }}</td>
                                <td>{{ game.players_count.unwrap_or(0) }}</td>
                                <td>{{ game.winners_count.unwrap_or(0) }}</td>
                                <td>{{ game.winning_points.unwrap_or(0) }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}

                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

