{% extends "authed-base.html" %}

{% block content %}
    <div id="game_board">
        {% include "game-as-player-board.html" %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" defer>
        // Created At
        document.getElementById("created_at").innerText = new Date({{ game.created_at * 1000 }}).toLocaleString();

        document.body.addEventListener("apply_created_at", function (evt) {
            document.getElementById("created_at").innerText = new Date({{ game.created_at * 1000 }}).toLocaleString();
        });
    </script>
{% endblock %}

