<div hx-ext="sse" sse-connect="/games/{{ game.game_code }}/sse/host">
    <div class="flex flex-row justify-between">
        <div>
            <h2 class="text-5xl my-2"><strong class="font-bold">{{ game.name }}</strong></h2>
            <h3 class="p-1"><span id="created_at"></span></h3>
        </div>

        <button id="copy_share_link" class="btn btn-ghost sm:btn-lg lg:btn-md my-2" onclick="copyShareLink()">
            Copy share link
        </button>
    </div>

    <div class="divider"></div>

    <div class="stats stats-vertical lg:stats-horizontal shadow my-2">
        <div class="stat">
            <div class="stat-title">Players</div>
            <div sse-swap="players_count" class="stat-value">{{ players_count }}</div>
        </div>

        <div class="stat">
            <div class="stat-title">Total Drops</div>
            <div class="stat-value">{{ drops_count }}</div>
        </div>

        <div class="stat">
            <div class="stat-title">Leaderboard</div>
            {% if lead_points > 0 %}
                <div class="stat-value">{{ leaders }}</div>
                {% if let 1 = lead_points %}
                    <div class="stat-desc">With 1 point</div>
                {% else %}
                    <div class="stat-desc">With {{ lead_points }} points</div>
                {% endif %}
            {% else %}
                <div class="stat-value"></div>
            {% endif %}
        </div>
    </div>

    {% if let Some(msg) = game.reward_message %}
        <div class="collapse collapse-open my-2">
            <div class="collapse-title text-xl font-medium">
                Message to send for each correct guess:
            </div>
            <div class="collapse-content"> 
                <p><code>{{ msg }}</code></p>
            </div>
        </div>
    {% endif %}

    {% if let Some(msg) = game.total_reward_message %}
        <div class="collapse collapse-open my-2">
            <div class="collapse-title text-xl font-medium">
                Message to send for each winner:
            </div>
            <div class="collapse-content"> 
                <p><code>{{ msg }}</code></p>
            </div>
        </div>
    {% endif %}

    <div class="divider"></div>

    <div class="flex flex-row justify-between gap-4 py-4">
        {% if game.is_locked %}
            <div class="flex flex-row gap-2 items-center text-error">
                <button hx-put="/games/{{ game.game_code }}/x/unlock" hx-target="#game_board" class="btn btn-neutral sm:btn-lg lg:btn-md">Unlock</button>
                <div></div>
                <svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><rect height="11" rx="2" ry="2" width="18" x="3" y="11"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
                <h3 class="text-lg">Guesses are locked</h3>
            </div>
        {% else %}
            <div class="flex flex-row gap-2 items-center text-accent">
                <button hx-put="/games/{{ game.game_code }}/x/lock" hx-target="#game_board" class="btn btn-neutral sm:btn-lg lg:btn-md">Lock</button>
                <div></div>
                <svg viewBox="0 0 24 24" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" width="24" xmlns="http://www.w3.org/2000/svg"><rect height="10" rx="2" ry="2" width="16" x="4" y="12"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
                <h3 class="text-lg">Guesses are open</h3>
            </div>
        {% endif %}

        <button sse-swap="enable_clear_guesses" hx-swap="outerHTML" hx-put="/games/{{ game.game_code }}/x/clear-guesses" {% if !any_guesses %} disabled {% endif %} class="btn btn-ghost sm:btn-lg lg:btn-md">Clear guesses</button>
    </div>

    <h2 class="text-xl">Which item did you get?</h2>

    <div class="grid gap-4 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 py-4">
        {% for item in items %}
            {% include "game-as-host-item.html" %}
        {% endfor %}
    </div>

    <div class="flex flex-col gap-4">
        <div class="flex flex-row justify-end gap-2">
            <button onclick="confirm_end_game.showModal()" class="btn btn-error">End Game!</button>

            <dialog id="confirm_end_game" class="modal">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">End Game?</h3>
                    <p class="py-4">This will end the game for all players!</em></p>
                    <div class="modal-action flex flex-row justify-end gap-2">
                        <form method="dialog">
                            <button class="btn btn-ghost">Cancel</button>
                        </form>

                        <form action="/games/{{ game.game_code }}/finish" method="POST">
                            <button class="btn btn-error">End Game!</button>
                        </form>
                    </div>
                </div>

                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </div>
    </div>
    <div class="hidden" hx-get="/games/{{ game.game_code }}/x/redirect" hx-trigger="sse:force_refresh"></div>
</div>
