{% extends "base.html" %}

{% block content %}
    <div class="hero min-h-screen">
        <div class="hero-content text-center">
            <div class="container">
                <h1 class="text-5xl font-bold mb-10">Ready to guess the drop?</h1>
                {% if user.is_some() %}
                    <p>Or, <a href="/game-templates" class="link link-primary">start a new game!</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input name="cool-file" type="file" />
        <button type="submit">Upload</button>
    </form>
{% endblock %}

