{% extends "empty-base.html" %}

{% block content %}
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hello there</h1>

          <p class="py-6">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
          </p>

          <a href="/twitch/connect" class="btn btn-primary">Connect to Twitch</a>

          <form action="/join" method="get">
            <input type="text" name="code" placeholder="Game Code" class="input" />
            <button type="submit" class="btn btn-primary">Join Game</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

