{% extends "base.html" %}

{% block navbar_content %}
    <form action="/join" method="get" class="join">
        <button type="submit" class="btn btn-primary btn-sm normal-case join-item rounded-l-full">Join</button>
        <input type="text" name="code" class="input input-sm input-bordered join-item" placeholder="Game Code"/>
    </form>
{% endblock %}

{% block content %}
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
            <div class="container">
                <h2 class="text-5xl font-bold mb-10">Join Game: {{ game_code }}</h2>

                <a href="/twitch/connect?redirect=/games/{{game_code}}" class="btn btn-secondary btn-md normal-case text-lg mt-5">
                    Connect to Twitch
                </a>
            </div>
        </div>
    </div>
{% endblock %}

