{% extends "authed-base.html" %}

{% block content %}
    <form action="/game-templates", method="POST" enctype="multipart/form-data">
        <div class="flex flex-col gap-5">
            <div>
                <button type="button" onclick="cancel.showModal()" class="btn btn-error btn-sm text-black">
                    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1hcnJvdy1sZWZ0IiBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lIHgxPSIxOSIgeDI9IjUiIHkxPSIxMiIgeTI9IjEyIi8+PHBvbHlsaW5lIHBvaW50cz0iMTIgMTkgNSAxMiAxMiA1Ii8+PC9zdmc+" />
                    Cancel
                </button>

                <dialog id="cancel" class="modal">
                    <div class="modal-box">
                        <h3 class="font-bold text-lg">Lose all progress?</h3>
                        <p class="py-4">Cancelling will destroy the template being worked on. This cannot be undone.</p>
                        <div class="modal-action flex flex-row justify-end gap-2">
                            <form method="dialog">
                                <button class="btn btn-ghost">Stay Here</button>
                            </form>
                            <a href="/game-templates" class="btn btn-error">Delete Forever</a>
                        </div>
                    </div>

                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>
            </div>

            <h2 class="text-xl">New Template</h2>

            <div class="form-control w-full max-w-lg">
                <label for="name" class="label">
                    <span class="label-text">Name</span>
                </label>

                <input type="text" id="name" name="name" required placeholder="Type here" class="input input-bordered w-full max-w-lg" />
            </div>

            <div class="form-control w-full max-w-lg flex flex-row gap-2">
                <input type="checkbox" id="auto-lock" name="auto-lock" class="checkbox" />

                <label for="auto-lock" class="label py-0 cursor-pointer">
                    <span class="label-text">Auto-lock guesses?</span>
                </label>
            </div>

            <div id="post-msg-section" class="flex flex-col gap-4">
                <div hx-trigger="click" hx-get="/game-templates/new/x/post-msg" hx-target="#post-msg-section" class="form-control w-full max-w-lg flex flex-row gap-2 cursor-pointer">
                    <input type="checkbox" name="should-post" class="checkbox" />
                    <label class="label py-0 cursor-pointer">
                        <span class="label-text cursor-pointer">Send twitch chat on correct guess?</span>
                    </label>
                </div>
            </div>

            <div id="post-total-msg-section" class="flex flex-col gap-4">
                <div hx-trigger="click" hx-get="/game-templates/new/x/post-total-msg" hx-target="#post-total-msg-section" class="form-control w-full max-w-lg flex flex-row gap-2 cursor-pointer">
                    <input type="checkbox" name="should-post-total" class="checkbox" />
                    <label class="label py-0 cursor-pointer">
                        <span class="label-text cursor-pointer">Send twitch chat on most correct guesses at the end?</span>
                    </label>
                </div>
            </div>

            <h3 class="text-lg">Items</h3>

            <button type="button" hx-get="/game-templates/new/x/add-item?idx=0" hx-swap="outerHTML" class="btn btn-accent w-full max-w-lg text-black">
                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1wbHVzLXNxdWFyZSIgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCBoZWlnaHQ9IjE4IiByeD0iMiIgcnk9IjIiIHdpZHRoPSIxOCIgeD0iMyIgeT0iMyIvPjxsaW5lIHgxPSIxMiIgeDI9IjEyIiB5MT0iOCIgeTI9IjE2Ii8+PGxpbmUgeDE9IjgiIHgyPSIxNiIgeTE9IjEyIiB5Mj0iMTIiLz48L3N2Zz4=" />
                Add Item
            </button>

            <button type="submit" class="btn btn-primary w-full max-w-lg">Create Template</button>
        </div>
    </form>
{% endblock %}
