<div id="post-msg-section" class="flex flex-col gap-4">
    <div hx-trigger="click" hx-get="/game-templates/new/x/no-post-msg" hx-target="#post-msg-section" class="form-control w-full max-w-lg flex flex-row gap-2 cursor-pointer">
        <input type="checkbox" id="should-post" name="should-post" class="checkbox" checked />
        <label for="should-post" class="label py-0 cursor-pointer">
            <span class="label-text cursor-pointer">Post reward message to Twitch chat when user guesses correctly?</span>
        </label>
    </div>

    <div class="form-control w-full max-w-lg">
        <label for="post-msg" class="label">
            <span class="label-text">Chat Message</span>
        </label>

        <input type="text" id="post-msg" name="post-msg" required placeholder="{{ default_reward_msg }}" class="input input-bordered w-full max-w-lg" />
    </div>

    {% if !session.can_chat %}
        <a href="/twitch/connect?with_chat=true" target="_blank" class="w-full max-w-lg">
          <div role="alert" class="alert alert-warning w-full max-w-lg">
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
              <span>Click here to update Twitch chat permissions.</span>
          </div>
        </a>
    {% endif %}
</div>

