<div id="post-msg-section" class="flex flex-col gap-4">
    <div hx-trigger="click" hx-get="/game-templates/new/x/post-msg" hx-target="#post-msg-section" class="form-control w-full max-w-lg flex flex-row gap-2 cursor-pointer">
        <input type="checkbox" name="should-post" class="checkbox" />
        <label class="label py-0 cursor-pointer">
            <span class="label-text cursor-pointer">Post reward message to Twitch chat when user guesses correctly?</span>
        </label>
    </div>
</div>
